.homepage-container {
    overflow-y: auto;
    height: 100vh;
}

.homepage-image {
    width: 100%;
    height: auto;
}

.carousel-section {
    margin: 10px;
    min-height: 275px;
    max-height: 500px;
    position: relative;
    height: 100%;
    line-height: normal;
}

.carousel {
    display: grid;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    max-height: 400px;
}

