.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 996px;
    margin: 0 auto;
    overflow: hidden;
}

.homepage-image {
    width: 100%;
    height: auto;
}

h1, p {
    color: #333;

}
