.recipe-card {
    background-color: maroon;
    border: 4px olive;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 200px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: inline-block;
    vertical-align: top;
}

.recipe-card:hover {
    transform: scale(1.05);
}

.recipe-card h3 {
    color: beige;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.recipe-card p {
    color: beige;
    font-size: 1rem;
    margin: 0;
}
